{% extends 'base.html' %}

{% block title %}
<title>Login | Orit Breakdown</title>
{% endblock title %}

{% block wrapper %}
<div id="account-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default panel-form" id="login-panel">
                    <div class="panel-heading text-center">
                        Login | <span class="fa fa-fire"></span> Orit Breakdowns
                    </div><!-- /EN .panel-heading -->

                    <div class="panel-body">
                        {{ form.non_field_errors }}

                        <form action="" method="POST">
                            {% csrf_token %}

                            <!-- HIDDEN FIELDS -->
                            <input type="hidden" name="next" value="{{ next }}"> 

                            <!-- USERNAME -->
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}">
                                {{ form.username.errors }}
                            </div><!-- /.form-group -->

                            <!-- PASSWORD -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                                {{ form.password.errors }}
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary btn-block"> 
                            </div><!-- /.form-group -->
                        </form>
                    </div><!-- /.panel-body -->

                    <div class="panel-footer text-center">
                        Don't have an account yet? <a href="{% url 'signup' %}">Register now</a>
                    </div><!-- /.panel-footer -->
                </div>
            </div>
        </div><!-- /END .row -->
    </div><!-- /END .container -->
</div><!-- /END #account-wrapper -->
{% endblock wrapper %}