ul.errorlist li {
	color: #DB524B;
}

table tr.total-row {
	background: transparent !important;
}

table tr.total-row td {
	border-top: none;
}

.display-inline {
	display: inline;
}

.disabled-link {
	color: gray;
	cursor: not-allowed;
}