ul.errorlist li {
	color: #DB524B;
}

table tr.total-row {
	background: transparent !important;
}

table tr.total-row td {
	border-top: none;
}

.display-inline {
	display: inline;
}

.disabled-link {
	color: gray;
	cursor: not-allowed;
}

.panel-active {
	border: 1px solid #F6A821 !important;
}

.panel-active, .panel-active h2.m-b-none {
    color: #F6A821 !important;
}