{% extends 'base.html' %}
{% load humanize %}

{% block title %}
<title>Equipments Library | Orit</title>
{% endblock title %}

{% block content %}
<div class="panel panel-default panel-list panel-lg" id="equipment-list-panel">
    <div class="panel-heading panel-heading-with-search">
        <div class="row">
            <div class="col-sm-7 breath-up-xs">
                Equipment Library
            </div><!-- /.col-sm-7 -->

            <div class="col-sm-5">
               <form name="equipment_search_form" method="GET" id="equipment-form" class="cost-form">
                   <div class="form-group">
                       <div class="input-group input-group-sm inner-search-input-group">
                           <input type="search" class="form-control" id="equipment-search-input" name="equipment_search" placeholder="Search Equipments" value="{{ equipment_search|default_if_none:'' }}">
                           <span class="input-group-btn">
                               <button type="submit" class="btn btn-default">
                                   <span class="fa fa-search"></span>
                               </button>
                           </span>
                       </div><!-- /.input-group -->                                    
                   </div><!-- /.form-group -->
            </div><!-- /.col-sm-5 -->
        </div><!-- /.row -->
    </div><!-- /.panel-heading -->

    <div class="panel-body">
        <div class="catagory-selector-container breath-down-sm">
            <div class="row">
                <div class="col-sm-4">
                        <div class="form-group">
                            <label for="equipment-catagory-select">Select Catagory</label>
                            <select name="equipment_catagory" id="equipment-catagory-select" class="form-control catagory-selector">
                                <option {% if equipment_catagory is None %} selected="selected"{% endif %}>All</option>
                                {% for catagory in equipment_catagory_list %}
                                <option value="{{ catagory.id }}" {% if equipment_catagory == catagory.id %} selected="selected"{% endif %}>{{ catagory.full_title|title }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.form-group -->
                    </form>
                </div><!-- /.col-sm-2 -->
            </div><!-- /.row -->
        </div><!-- /.catagory-selector-container -->
        
        {% if equipment_list %}
        <div class="table-responsive">
            <table class="equipment-table table panel-table table-hover table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Equipments</th>
                        <th>Catagory</th>
                        <th class="text-right">Hourly Rental Rate (ETB)</th>
                        <th class="text-center">Last Updated</th>
                    </tr>
                </thead>

                <tbody>
                    {% for equipment in equipment_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'breakdowns:equipment_detail' equipment.id %}">{{ equipment.full_title|capfirst }}</a></td>
                        <td>{{ equipment.equipment_catagory.full_title|capfirst }}</td>
                        <td class="text-right">{{ equipment.rental_rate|intcomma }}</td>
                        <td class="text-center text-danger bold">{{ equipment.updated_at|date:'M d, Y' }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div><!-- /END .table-responsive -->
        {% else %}
        <p class="text-center breath-both-lg text-fade"><strong><span class="fa fa-exclamation-circle"></span> There are currently no equipments in the database</strong></p>
        {% endif %}
    </div><!--/.panel-body -->
</div><!-- /#product-list-panel -->
{% endblock content %}