{% extends 'base.html' %}

{% block title %}
<title>{{ cost_breakdown.full_title }} | Orit</title>
{% endblock %}

{% block content %}
<div class="panel panel-default panel-detail" id="labour-create-panel">
    <div class="panel-heading">
       {% if labour_breakdown %}
       Update {{ labour_breakdown.labour.full_title|title }}
       {% else %}
       Add Labour
       {% endif %}
    </div><!-- /END .panel-heading -->

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <form method="POST" id="labour-form" class="form-horizontal">
                {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.hourly_rate.errors }}
                    <div class="form-group">
                        <label for="breakdown" class="col-sm-4 control-label">Cost Breakdown</label>
                        <div class="col-sm-8">
                            <input type="text" name="cost_breakdown" id="breakdown" class="form-control" value="{{ cost_breakdown|title|default_if_none:'' }}" readonly>
                            <div class="errorlist-container">
                                {{ form.cost_breakdown.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="output" class="col-sm-4 control-label">Output ({% autoescape off %}{{cost_breakdown.unit.html_title }}{% endautoescape %}/hr)</label>
                        <div class="col-sm-8">
                            <input type="text" name="output" id="output" class="form-control" value="{{ cost_breakdown.output }}" readonly>
                            <div class="errorlist-container">
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="labour" class="col-sm-4 control-label">Labour</label>
                        <div class="col-sm-8">
                            <select name="labour" class="form-control">
                                {% for labour in labour_list %}
                                <option {% if labour_breakdown.labour.id == labour.id %} selected="selected" {% endif %}value="{{ labour.id }}">{{ labour }}</option>
                                {% endfor %}
                            </select>

                            <div class="errorlist-container">
                                {{ form.labour.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                
                    <div class="form-group">
                        <label for="number" class="col-sm-4 control-label">Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="number" id="number" class="form-control" value="{{ form.number.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.number.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="uf" class="col-sm-4 control-label">Utilization Factor</label>
                        <div class="col-sm-8">
                            <input type="text" name="uf" id="uf" class="form-control" value="{{ form.uf.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.uf.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    {% if not cost_breakdown.is_library %}
                    <div class="form-group">
                        <label for="hourly_rate" class="col-sm-4 control-label">Hourly Rate (ETB)</label>
                        <div class="col-sm-8">
                            <input type="text" name="hourly_rate" id="hourly_rate" class="form-control" value="{{ form.hourly_rate.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.hourly_rate.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                    {% endif %}

                    <div class="form-group breath-up-md text-right pad-right-md">
                        {% if labour_breakdown %}
                        <a href="{% url 'breakdowns:labour_breakdown_delete' cost_breakdown.id labour_breakdown.id %}" class="btn btn-danger"><span class="fa fa-trash"></span> DELETE</a>&nbsp;&nbsp;
                        {% endif %}
                        <input type="submit" value="SUBMIT" class="btn btn-primary"> 
                    </div>
                </form> 
            </div><!-- /.col-sm-8 -->       
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /END .material-detail-panel -->
{% endblock content %}