{% extends 'base2.html' %}
{% load static %}

{% block title %}
<title>{% if material_breakdown %} Update Labour {% else %} Add Labour {% endif %} | Orit</title>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'luna/vendor/select2/dist/css/select2.min.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
                <a href="{% url 'breakdowns:my_breakdown_detail' cost_breakdown.id %}" title="Back" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i>&nbsp; Back</a>
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-calculator"></i>
            </div>
            <div class="header-title">
                <h3 class="m-b-xs">{{ cost_breakdown.full_title|capfirst }}</h3>
                {% if labour_breakdown %}
                <small>
                  Update labour breakdown to reflect your desired the cost breakdown
                </small>
                {% else %}
                <small>
                  Add a new labour breakdown to the cost breakdown
                </small>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="panel panel-filled" id="labour-create-panel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
        </div>
        {% if labour_breakdown %}
        Update Labour Breakdown
        {% else %}
        Add New Labour Breakdown
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1 pad-up-md">
                <form method="POST" id="labour-form" class="form-horizontal">
                {% csrf_token %}

                    <div class="errorlist-container">
                        {{ form.non_field_errors }}
                    </div>
                    
                    <!-- COST BREAKDOWN -->
                    <div class="form-group">
                        <label for="breakdown" class="col-sm-4 control-label">Cost Breakdown</label>
                        <div class="col-sm-8">
                            <input type="text" name="cost_breakdown" id="breakdown" class="form-control" value="{{ cost_breakdown|title|default_if_none:'' }}" readonly>
                            <div class="errorlist-container">
                                {{ form.cost_breakdown.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- OUTPUT -->
                    <div class="form-group">
                        <label for="output" class="col-sm-4 control-label">Output ({% autoescape off %}{{cost_breakdown.unit.html_title }}{% endautoescape %}/hr)</label>
                        <div class="col-sm-8">
                            <input type="text" name="output" id="output" class="form-control" value="{{ cost_breakdown.output }}" readonly>
                            <div class="errorlist-container">
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- LABOUR LIST -->
                    <div class="form-group">
                        <label for="labour" class="col-sm-4 control-label">Labour</label>
                        <div class="col-sm-8">
                            <select name="labour" id="labourSelect" class="select2 form-control" data-width="100%">
                                <option></option>
                                {% for labour in labour_list %}
                                <option {% if labour_breakdown.labour.id == labour.id %} selected="selected" {% endif %}value="{{ labour.id }}">{{ labour }}</option>
                                {% endfor %}
                            </select>

                            <div class="errorlist-container">
                                {{ form.labour.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- NUMBER -->
                    <div class="form-group">
                        <label for="number" class="col-sm-4 control-label">Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="number" id="number" class="form-control" value="{{ form.number.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.number.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- UTILIZATION FACTOR -->
                    <div class="form-group">
                        <label for="uf" class="col-sm-4 control-label">Utilization Factor</label>
                        <div class="col-sm-8">
                            <input type="text" name="uf" id="uf" class="form-control" value="{{ form.uf.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.uf.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                    
                    <!-- HOURLY RATE -->
                    {% if not cost_breakdown.is_library %}
                    <div class="form-group">
                        <label for="hourly_rate" class="col-sm-4 control-label">Hourly Rate (ETB)</label>
                        <div class="col-sm-8">
                            <input type="text" name="hourly_rate" id="hourly_rate" class="form-control" value="{{ form.hourly_rate.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.hourly_rate.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                    {% endif %}
                    
                    <!-- SUBMIT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pad-up-sm text-right">
                                <input type="submit" class="btn btn-default" value="Submit">&nbsp;
                            </div>
                        </div>
                    </div><!-- /.row -->
                </form> 
            </div><!-- /.col-sm-8 -->       
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /END .material-detail-panel -->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'luna/vendor/select2/dist/js/select2.js' %}"></script>
<script>
    $(function(){
        $("#labourSelect").select2({
            placeholder: "Select labour type"
        });
    });
</script>
{% endblock extra_js %}