{% extends 'base2.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>{{ library.full_title }} | Orit</title>
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'luna/vendor/alertify/css/alertify.min.css' %}">
<link rel="stylesheet" href="{% static 'luna/vendor/alertify/themes/default.min.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="view-header">
                <div class="pull-right text-right" style="line-height: 14px">
                    <a href="#" class="btn btn-accent" title="Upgrade to Premium Account">Upgrade Account</a>
                </div>
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-notebook"></i>
                </div> 
                <div class="header-title">
                    <h3 class="m-b-xs">{{ library.full_title|capfirst }}</h3>
                    <small>
                        Special minimal admin theme with Dark UI style for monitoring or administration web applications.
                    </small>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-filled" data-mh="summary-panel">
                <div class="panel-heading">
                    About The Library
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Title</dt>
                        <dd>{{ library.full_title }}</dd><br>

                        <dt>Developed By</dt>
                        <dd>
                            {% if library.owners %}
                              {{ library.owners }}
                            {% else %}
                              <small><i class="fa fa-exclamation-circle"></i>&nbsp; Not available</small>
                            {% endif %}
                        </dd><br>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-filled" data-mh="summary-panel">
                <div class="panel-heading">
                    Library Summary
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>Library Type</td>
                            <td class="text-right">
                                {{ library.library_package.full_title }}
                            </td>
                        </tr>
                        <tr>
                            <td>First Developed</td>
                            <td class="text-right">
                                {% if library.published_at %}
                                {{ library.published_at|date:'m/d/Y' }}
                                {% else %}
                                <small><i class="fa fa-exclamation-circle"></i>&nbsp; Not available</small>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Last Updated</td>
                            <td class="text-right">
                                {% if library.last_updated %}
                                {{ library.last_updated|date:'m/d/Y' }}
                                {% else %}
                                <small><i class="fa fa-exclamation-circle"></i>&nbsp; Not available</small>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Breakdown Count</td>
                            <td class="text-right">{{ breakdown_list.count }}</td>
                        </tr>

                        <tr>
                            <td>Breakdown Catagories</td>
                            <td class="text-right">10+</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-filled" data-mh="summary-panel">
                <div class="panel-heading">
                    Description
                </div>
                <div class="panel-body">
                    {% if library.description %}
                      {{ library.description }}
                    {% else %}
                    <small><i class="fa fa-exclamation-circle"></i>&nbsp; Not available</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-filled">
                <div class="panel-heading">
                    Complete list of all breakdowns for the {{ library.full_title }} library
                </div>
                <div class="panel-body">
                   {% if breakdown_list %}
                   <div class="table-responsive">
                       <table class="library-breakdown-table table data-table table-hover table-striped">
                           <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Breakdowns</th>
                                   <th>Catagory</th>
                                   <th>Package</th>
                                   <th class="text-right">Actions</th>
                               </tr>
                           </thead>

                           <tbody>
                               {% for breakdown in breakdown_list %}
                               <tr>
                                   <td>{{ forloop.counter }}</td>
                                   {% if breakdown.is_premium %}
                                   <td class="disabled-link">{{ breakdown.full_title }}</td>
                                   {% else %}
                                   <td>
                                    <a href="{% url 'breakdowns:library_breakdown_detail' breakdown.id %}">{{ breakdown.full_title }}</a>
                                   </td>
                                   {% endif %}
                                   <td>{{ breakdown.activity_catagory.full_title }}</td>

                                   {% if breakdown.is_premium %}
                                   <td><i class="fa fa-lock"></i>&nbsp; Premium</td>
                                   {% else %}
                                   <td>Free</td>
                                   {% endif %}

                                   {% if breakdown.is_premium %}
                                   <td class="text-right"><a href="#" class="btn btn-sm btn-accent">upgrade</a></td>
                                   {% else %}
                                   <td class="text-right"><a href="{% url 'breakdowns:library_breakdown_detail' breakdown.id %}" class="btn btn-sm btn-default">view</a></td>
                                   {% endif %}
                               </tr>
                               {% endfor %}

                           </tbody>
                       </table>
                   </div><!-- /END .table-responsive -->
                   {% else %}
                   <p class="text-center breath-both-lg text-fade"><strong><span class="fa fa-exclamation-circle"></span> There are currently no cost breakdowns in the database</strong></p>
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'luna/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
<script src="{% static 'luna/vendor/alertify/js/alertify.min.js' %}"></script>
<script>
    // Confirm deleting material breakdown using alertify.js
    $(function(){
        $('#material-delete-form button.btn').click(function(e){
            e.preventDefault();
            var form = $(this).parent('form');

            alertify.confirm('<i class="fa fa-exclamation-triangle"></i> Warning', 'Are you sure you want to delete this material?', 
                function(){
                    $(form).submit();
                }, function(){});
        });
    });

    // Confirm deleting labour breakdown using alertify.js
    $(function(){
        $('#labour-delete-form button.btn').click(function(e){
            e.preventDefault();
            var form = $(this).parent('form');

            alertify.confirm('<i class="fa fa-exclamation-triangle"></i> Warning', 'Are you sure you want to delete this labour?', 
                function(){
                    $(form).submit();
                }, function(){});
        });
    });

    // Confirm deleting equipment breakdown using alertify.js
    $(function(){
        $('#equipment-delete-form button.btn').click(function(e){
            e.preventDefault();
            var form = $(this).parent('form');

            alertify.confirm('<i class="fa fa-exclamation-triangle"></i> Warning', 'Are you sure you want to delete this equipment?', 
                function(){
                    $(form).submit();
                }, function(){});
        });
    });
</script>
{% endblock %}