{% extends 'base2.html' %}
{% load static %}

{% block title %}
<title>{% if material_breakdown %} Update Material {% else %} Add Material {% endif %} | Orit</title>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'luna/vendor/select2/dist/css/select2.min.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
                <a href="{% url 'breakdowns:my_breakdown_detail' cost_breakdown.id %}" title="Back" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i>&nbsp; Back</a>
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-calculator"></i>
            </div>
            <div class="header-title">
                <h3 class="m-b-xs">{{ cost_breakdown.full_title|capfirst }}</h3>
                {% if material_breakdown %}
                <small>
                  Update material breakdown to reflect your desired the cost breakdown
                </small>
                {% else %}
                <small>
                  Add a new material breakdown to the cost breakdown
                </small>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="panel panel-filled" id="material-create-panel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
        </div>
        {% if material_breakdown %}
        Update Material Breakdown
        {% else %}
        Add New Material Breakdown
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1 pad-up-md">
                <form method="POST" id="material-form" class="form-horizontal">
                {% csrf_token %}
                    
                    <div class="errorlist-container">
                        {{ form.non_field_errors }}
                    </div>
                    
                    <!-- COST BREAKDOWN -->
                    <div class="form-group">
                        <label for="breakdown" class="col-sm-4 control-label">Cost Breakdown</label>
                        <div class="col-sm-8">
                            <input type="text" name="cost_breakdown" id="breakdown" class="form-control" value="{{ cost_breakdown|title|default_if_none:'' }}" readonly>
                            <div class="errorlist-container">
                                {{ form.cost_breakdown.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- MATERIAL LIST -->
                    <div class="form-group">
                        <label for="material" class="col-sm-4 control-label">Material</label>
                        <div class="col-sm-8">
                            <select name="material" id="materialSelect" class="select2 form-control" style="width: 100%">
                                <option></option>
                                {% for material in material_list %}
                                <option {% if material_breakdown.material.id == material.id %} selected="selected" {% endif %} value="{{ material.id }}">{{ material }}</option>
                                {% endfor %}
                            </select>

                            <div class="errorlist-container">
                                {{ form.material.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                    
                    <!-- UNIT LIST -->
                    <div class="form-group">
                        <label for="unit" class="col-sm-4 control-label">Unit</label>
                        <div class="col-sm-8">
                            <select name="unit" id="unitSelect" class="select2 form-control" data-width="100%">
                                <option></option>
                                {% for unit in unit_list %}
                                <option {% if material_breakdown.unit.id == unit.id %} selected="selected" {% endif %} value="{{ unit.id }}">{{ unit.full_title|title}}({% autoescape off %}{{ unit.html_title }}){% endautoescape %}</option>
                                {% endfor %}
                            </select>

                            <div class="errorlist-container">
                                {{ form.unit.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- QUANTITY -->
                    <div class="form-group">
                        <label for="quantity" class="col-sm-4 control-label">Quantity</label>
                        <div class="col-sm-8">
                            <input type="text" name="quantity" id="quantity" class="form-control" value="{{ form.quantity.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.quantity.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                    
                    <!-- PRICE -->
                    {% if not cost_breakdown.is_library %}
                    <div class="form-group">
                        <label for="rate" class="col-sm-4 control-label">Price (ETB)</label>
                        <div class="col-sm-8">
                            <input type="text" name="rate" id="rate" class="form-control" value="{{ form.rate.value|default_if_none:'' }}">
                            <div class="errorlist-container">
                                {{ form.rate.errors }}
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                    {% endif %}

                    <!-- SUBMIT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pad-up-sm text-right">
                                {% if material_breakdown %}
                                  <form method="POST" action="{% url 'breakdowns:material_breakdown_delete' cost_breakdown.id material_breakdown.id %}" class="breath-up-md">
                                  {% csrf_token %}
                                      <input type="submit" class="btn btn-danger" value="Delete">
                                  </form>
                                {% endif %}
                                <input type="submit" class="btn btn-default" value="Submit">
                            </div>
                        </div>
                    </div><!-- /.row -->
                </form> 
            </div><!-- /.col-sm-8 -->       
        </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /END .material-detail-panel -->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'luna/vendor/select2/dist/js/select2.js' %}"></script>
<script>
    $("#materialSelect").select2({
        placeholder: "Select a material"
    });

    $("#unitSelect").select2({
        placeholder: "Select unit of measurement"
    });
</script>
{% endblock extra_js %}