{% extends 'base.html' %}
{% load humanize %}

{% block title %}
<title>{{ material.full_title }} | Orit</title>
{% endblock %}

{% block content %}
<div class="panel panel-default panel-detail" id="material-detail-panel">
    <div class="panel-heading">
        Material Detail
    </div><!-- /END .panel-heading -->

    <div class="panel-body">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <dl>
                <dt>Material</dt>
                <dd>{{ material.full_title }}</dd>

                <dt>Description</dt>
                <dd>
                    {% if material.description %}
                        {{ material.description }}
                    {% else %}
                        <p class="text-fade"><span class="fa fa-exclamation-circle"></span> No material description</p>
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div><!-- /.row -->
    </div><!-- /.panel-body -->
</div><!-- /END .material-detail-panel -->

<div class="panel panel-default panel-list" id="material-price-list-panel">
    <div class="panel-heading">
        Material Price List
    </div>

    <div class="panel-body">
       {% if price_list %}
       <div class="table-responsive">
           <table class="material-price-table table panel-table table-hover table-stripped">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Material Supplier</th>
                       <th class="text-right">Price ({% autoescape off %}{{ material.unit.short_title }}{% endautoescape %} Per ETB)</th>
                       <th class="text-center">Last Updated</th>
                   </tr>
               </thead>

               <tbody>
                   {% for price in price_list %}
                   <tr>
                       <td>{{ forloop.counter }}</td>
                       <td><a href="#">{{ price.supplier.full_title }}</a></td>
                       <td class="text-right">{{ price.price|intcomma }}</td>
                       <td class="text-center text-danger bold">{{ price.updated_at|date:'M d, Y' }}</td>
                   </tr>
                   {% endfor %}

               </tbody>
           </table>
       </div><!-- /END .table-responsive -->
       {% else %}
       <p class="text-center breath-both-lg text-fade"><strong><span class="fa fa-exclamation-circle"></span> There are currently no materials in the database</strong></p>
       {% endif %}
    </div>
</div>
{% endblock content %}