{% extends 'base2.html' %}

{% block title %}
<title>Login | Orit Breakdown</title>
{% endblock title %}

{% block wrapper %}
<!-- Main content-->
<section class="container-fluid">
    <div class="back-link">
        <a href="#" class="btn btn-accent"><span class="fa fa-home"></span> Home</a>
    </div>

    <div class="container-center animated slideInDown">


        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Login</h3>
                <small>
                    Please enter your credentials to login.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                {{ form.non_field_errors }}
                <form action="" method="POST" id="loginForm" novalidate>
                    {% csrf_token %}

                    <!-- HIDDEN FIELDS -->
                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" name="username" id="username" class="form-control" value="{{ form.username.value|default_if_none:'' }}">
                        <span class="help-block small">Your unique username to app</span>
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                        <span class="help-block small">Your strong password</span>
                        {{ form.password.errors }}
                    </div>
                    <div>
                        <button class="btn btn-accent">Login</button>
                        <a class="btn btn-default" href="{% url 'signup' %}">Register</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->
{% endblock wrapper %}

<!-- OVERRIDE (REMOVE) pace.js SCRIPT -->
{% block pace-script %}{% endblock pace-script %}